<!DOCTYPE html>
<html lang="en" ng-app="categories">
<head>
	<meta charset="UTF-8">
	<title>Category Listing</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="Main as main">
	
	<section class="repeat">
		<h2>Angular ng-repeat nested view strategy</h2>
		<ul>
			<li 
				ng-repeat="category in main.categories"
				ng-include="'js/views/wixCategory.html'"
				></li>
		</ul>
	</section>
	
	<section class="recursive">
		<h2>Using recursive strategy</h2>
		<ul>
			<li 
				ng-repeat="category in main.categories"
				wix-category="category"
				></li>
		</ul>	
	</section>
	
	
	<section class="iterative">
		<h2>Using iterative strategy</h2>
		<ul wix-categories="main.categories"></ul>	
	</section>
	

	<hr>
	
	<section class="new-category">
		<h2>Add category</h2>
		<form ng-submit="main.save()" novalidate>
			<input type="text" name="categoryName" placeholder="Category Name" ng-model="main.newCategory.name">
			<p><input type="checkbox" ng-model="main.nested" id="nested"> <label for="nested">Nested category</label></p>
			<select name="" ng-options="category.name for category in main.categories" ng-disabled="!main.nested" ng-model="main.selectedCategory"></select>

			<button>Add new category</button>
		</form>
	</section>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/main.js"></script>
	<script src="js/directives/wixCategory.js"></script>
	<script src="js/directives/wixCategories.js"></script>
	<script src="js/services/categories.js"></script>
</body>
</html>